@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Roboto:wght@400;500&display=swap');


$c_min:#AA0601;
$c_black:#000000;
$c_white: #FFFFFF;
$c_brown: #5F3E2D;
$c_orange: #B75929;
$c_gary-dark:#555555;
$c_gary:#DCDCDC;
$c_gary-light:#F2F2F2;

$fz_3l: 42px;
$fz_2l: 36px;
$fz_xl: 32px;
$fz_s-l: 24px;
$fz_m: 20px;
$fz_m-1: 19px;
$fz_m-2: 18px;
$fz_s-s: 16px;
$fz_xs:14px;


body{
    font-family: 'Roboto','Noto Sans TC', sans-serif;
    line-height: 1.5;
}
// .d-flex{
//     display: flex;
// }
// .fx-sb{
//     justify-content: space-between;
// }
.material-icons-outlined {
    font-size: inherit;
}